body {
  font-family: sans-serif;
}

.wiki-header {
  text-transform: capitalize;
  text-align: center;
}

.wiki-img {
  width: 100%;
}

.wiki-item {
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 2px 2px 2px 2px gray;
  background-color: honeydew;
}

.wiki-content {
  padding: 10px;
}
